<div id="deputies"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Solitweet.Routers.DeputiesRouter({deputies: <%= @deputies.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
