<h1>Listing deputies</h1>

<table id="deputies-table">
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Description</th>
    <th>Photo</th>
    <th>Twitter username</th>
    <th>Political party</th>
    <th>Number of twitter followers</th>
    <th>Number of sent messages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Deputy</a>
