<p id="ref">
  <%= link_to "A propos", about_path %> -
  <%= link_to "Les participants au HackSense", sense_hackers_path %> -
  <%= link_to "Powered by Make Sense", "http://makesense.org", :target => "_blank" %>
</p>
