<div id="conteneur">
<div id="contenu">
  <div class="list">

    <a href="http://www.mouves.org/">
      <img src="/img/mouves.jpg" alt="Logo du Mouves" />
    </a>

    <h4>Quoi ?</h4>
    <p>
      Le Mouves, à la pointe de l'innovation, a choisi un format d’interpellation politique inédit
      sous la forme d’un « Solitwitt» le 3 juillet 2012, jour de la rentrée parlementaire.
    </p>

    <h4>Comment ?</h4>
    <p>
      Le « Sensetwitt» est une application web très simple qui permet à ses utilisateurs d’envoyer
      des messages de 140 caractères pré-formatés à des destinataires influents choisis pour relayer
      et soutenir une cause. Développée par la communauté MakeSense, cette opération s’appuie
      sur un site internet dédié. En deux clicks, Les membres du Mouves et sympathisants de
      l’Entrepreneuriat social pourront ainsi facilement twitter à leurs député(é)s les propositions
      formulées dans le livre blanc du Mouves pour les encourager à les promouvoir lors de la
      nouvelle mandature.
    </p>
    
    <h4>Pourquoi ?</h4>
    <p>
      Le Mouves veut faire en sorte que les député(e)s fraîchement élu(e)s s’emparent de la
      thématique de l’entrepreneuriat social et des solutions existantes pour développer ce secteur.
      Alors que nous traversons une crise sans précédent, l’entrepreneuriat social innove et répond
      aux besoins sociaux de nos concitoyens en plaçant leur efficacité économique au service de
      l’intérêt général. Mais cette autre manière d’entreprendre n’est pas encore assez développée
      dans notre pays. Le Mouves a identifié des mesures pour y remédier dans son Livre Blanc des
      Entrepreneurs Sociaux. La mandature qui s’ouvre doit permettre le changement d’échelle de
      ce secteur en reprenant ces propositions.
    </p>

    <%= render 'shared/ref' %>
  </div>
</div>
 </div>
