<ul>
  <li><%= link_to "Deputies", {:controller => 'deputies', :action => 'index'} %></li>
  <li><%= link_to "Influencers", influencers_path %></li>
  <li><%= link_to "Proposals", proposals_path %></li>
  <li><%= link_to "Sent messages", sent_messages_path %></li>
</ul>
