<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header"><p><i>A quel député veux-tu envoyer ton message ?</i></p></span>
  <center>
  <table border="0">
  <% @deputies.sort{|a,b| rand(2) <=> rand(2)}.each_with_index do |deputy, index| %>
    <% if index % 5 == 0 %>
      <tr>
    <% end %>
      <td>
        <span class="toolTip" title="<%= "#{deputy.political_party} - #{deputy.firstname} #{deputy.surname}" %>">
          <% sharing_url = "https://twitter.com/share?text=@#{deputy.twitter_username} #{@twitter_message}&hashtags=legislatives&url=http://solitweet.makesense.org" %>
          <%= link_to sharing_url, :target => "_blank", :data => { :deputy_id => deputy.id, :proposal_id => params[:proposal_id] } do %>
            <img src="<%= deputy.photo_url %>" width="105px">
          <% end %>
        </span>
      </td>
    <% if index % 5 == 4 %>
      </tr>
    <% end %>
  <% end %>  
  </table>
  <center>
    
  <%= render 'shared/ref' %>
</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
