<img id="fond" src="../../img/hemicycle.jpg" alt="background_picture"/>
<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header"><p><i>Merci d'avoir fait entendre ta voix à la futur assemblée nationale !</i></p></span>

  <div class="share">
    <h3>Tu peux partager à tes amis ce site en cliquant sur le bouton "j'aime" ci-dessous.</h3>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="http://solitweet.makesense.org/" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>
  
  <%= render 'shared/ref' %>

</div>
 </div>
