<div id="conteneur">
<div id="contenu">
  <h1>Assemblée Nationale Saison 2012</h1>
  <span id="header"><p><i>Merci de promouvoir les entrepreneurs sociaux auprès de l'Assemblée Nationale !</i></p></span>

  <div class="share">
    <h3>Tu peux partager à tes amis ce site en cliquant sur le bouton "j'aime" ci-dessous.</h3>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="http://sensetweet.makesense.org/" data-send="true" data-width="450" data-show-faces="true"></div>
  
    <h3>Tu as envie de Twitter également à une personne influente ? Clique simplement sur une personne ci-dessous.</h3>

    <div class="people">

      <center>
        <table border="0">
          <% @influencers.sort{|a,b| rand(2) <=> rand(2)}[0,20].each_with_index do |influencer, index| %>
            <% if index % 10 == 0 %>
              <tr>
              <% end %>
              <td>
                <span class="toolTip influencers" title="<%= "#{influencer.firstname} #{influencer.surname}" %>">
                  <% sharing_url = "https://twitter.com/share?text=@#{influencer.twitter_username} #{@twitter_message}&hashtags=legislatives&url=http://sensetweet.makesense.org" %>
                  <%= link_to sharing_url, :target => "_blank", :data => { :influencer_id => influencer.id, :proposal_id => params[:proposal_id] } do %>
                    <img src="<%= influencer.photo_url %>" width="80px">
                  <% end %>
                </span>
              </td>
              <% if index % 10 == 9 %>
              </tr>
            <% end %>
          <% end %>  
        </table>
      <center>
    
    </div>
  </div>
  
  <%= render 'shared/ref' %>

</div>
 </div>
