<h1>Edit proposal</h1>

<form id="edit-proposal" name="proposal">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <textarea cols="40" id="content" name="content" rows="20"><%= content %></textarea>
  </div>

  <div class="field">
    <label for="photo_url"> photo_url:</label>
    <input type="text" name="photo_url" id="photo_url" value="<%= photo_url %>" >
  </div>

 <div class="field">
    <label for="twitter_message"> twitter_message:</label>
    <input type="text" name="twitter_message" id="twitter_message" value="<%= twitter_message %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Proposal" />
  </div>

</form>

<a href="#/index">Back</a>
