<h1>New proposal</h1>

<form id="new-proposal" name="proposal">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <textarea cols="40" id="content" name="content" rows="20"><%= content %></textarea>
  </div>

  <div class="field">
    <label for="photo_url"> photo url:</label>
    <input type="text" name="photo_url" id="photo_url" value="<%= photo_url %>" >
  </div>

  <div class="field">
    <label for="twitter_message"> twitter_message:</label>
    <textarea cols="40" id="twitter_message" name="twitter_message" rows="20"><%= twitter_message %></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Create Proposal" />
  </div>

</form>

<a href="#/index">Back</a>
