<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Content:</b>
  <%= content %>
</p>

<p>
  <b>Photo url:</b>
  <%= photo_url %>
</p>

<p>
  <b>Twitter message:</b>
  <%= twitter_message %>
</p>

<a href="#/index">Back</a>
