<h1>Edit influencer</h1>

<form id="edit-influencer" name="influencer">
  <div class="field">
    <label for="firstname"> firstname:</label>
    <input type="text" name="firstname" id="firstname" value="<%= firstname %>" >
  </div>

  <div class="field">
    <label for="surname"> surname:</label>
    <input type="text" name="surname" id="surname" value="<%= surname %>" >
  </div>

  <div class="field">
    <label for="photo_url"> photo_url:</label>
    <input type="text" name="photo_url" id="photo_url" value="<%= photo_url %>" >
  </div>

  <div class="field">
    <label for="twitter_username"> twitter_username:</label>
    <input type="text" name="twitter_username" id="twitter_username" value="<%= twitter_username %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Influencer" />
  </div>

</form>

<a href="#/index">Back</a>