<p>
  <b>Firstname:</b>
  <%= firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= surname %>
</p>

<p>
  <b>Photo url:</b>
  <%= photo_url %>
</p>

<p>
  <b>Twitter username:</b>
  <%= twitter_username %>
</p>


<a href="#/index">Back</a>